<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="ConfigDlg" Width="370" Height="270">

        <Control Type="Text" Id="usernameText" Width="77" Height="12" X="10" Y="52" Text="&amp;Username:" />
        <Control Type="Edit" Id="usernameEdit" Width="150" Height="17" X="10" Y="66" Property="USERNAME">
          <Property Id="USERNAME" Value="Admin" />
        </Control>

        <Control Type="CheckBox" Id="injectPasswordCheckBox" Width="120" Height="17" X="10" Y="90" Text="Use metadata &amp;password" CheckBoxValue="1"
                 ToolTip="Inject the password provided by the metadata" Property="INJECTMETADATAPASSWORD">
          <Property Id="INJECTMETADATAPASSWORD" Value="1" />
        </Control>

        <Control Type="Text" Id="groupsText" Width="220" Height="12" X="10" Y="118" Text="User's local &amp;groups (comma separated list):" />
        <Control Type="Edit" Id="groupsEdit" Width="200" Height="17" X="10" Y="132" Property="USERGROUPS" />

        <Control Type="ComboBox" Property="dummy" Id="DummyComboBox" Width="0" Height="0" X="0" Y="0" Disabled="yes" Hidden="yes">
          <ComboBox Property="dummy">
            <ListItem Value="dummy" />
          </ComboBox>
        </Control>

        <Control Type="Text" Id="NetworkAdapterText" Width="146" Height="12" X="10" Y="158" Text="&amp;Network adapter to configure:">
        </Control>
        <Control Type="ComboBox" Property="NETWORKADAPTERNAME" Id="NetworkAdapterComboBox" Width="350" Height="16" X="10" Y="172" ComboList="yes">
          <ComboBox Property="NETWORKADAPTERNAME" />
        </Control>

        <Control Type="Text" Id="LoggingSerialPortNameText" Width="146" Height="12" X="10" Y="198" Text="&amp;Serial port for logging:">
        </Control>
        <Control Type="ComboBox" Property="LOGGINGSERIALPORTNAME" Id="LoggingSerialPortNameComboBox" Width="100" Height="16" X="10" Y="212" ComboList="yes">
          <ComboBox Property="LOGGINGSERIALPORTNAME" />
        </Control>

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="CustomizeDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg"></Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Options for guest startup initialization</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Configuration options</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>