<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="ExitDialog.wxs" company="Outercurve Foundation">
    Copyright (c) 2004, Outercurve Foundation.
    This software is released under Microsoft Reciprocal License (MS-RL).
    The license and further copyright text can be found in the file
    LICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="MyExitDialog" Width="370" Height="270" Title="!(loc.ExitDialog_Title)">
        <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
          <Publish Event="DoAction" Value="RunSysprep">SYSPREP AND NOT Installed</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUICancel)" />
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.ExitDialogBitmap)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="135" Y="70" Width="212" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescription)" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="212" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitle)" />
        
        <Control Id="SysprepCheckBox" Type="CheckBox" X="135" Y="110" Width="10" Height="10" Property="SYSPREP" CheckBoxValue="1" Hidden="yes">
          <Condition Action="show"><![CDATA[NOT (VersionNT < 600 OR Installed)]]></Condition>
        </Control>
        <Control Id="SysprepText" Type="Text" X="150" Y="110" Width="212" Height="38" Transparent="yes" NoPrefix="yes" Hidden="yes" 
                 Text="Run Sysprep to create a generalized image. This is necessary if you plan to duplicate this instance, for example by creating a Glance image.">
          <Condition Action="show"><![CDATA[NOT (VersionNT < 600 OR Installed)]]></Condition>
        </Control>

        <Control Id="SysprepShutdownCheckBox" Type="CheckBox" X="135" Y="160" Width="10" Height="10" Property="SYSPREPSHUTDOWN" CheckBoxValue="1" Hidden="yes">
          <Condition Action="show"><![CDATA[NOT (VersionNT < 600 OR Installed)]]></Condition>
          <Condition Action="disable"><![CDATA[VersionNT < 600 OR NOT SYSPREP OR Installed]]></Condition>
          <Condition Action="enable"><![CDATA[NOT (VersionNT < 600 OR NOT SYSPREP OR Installed)]]></Condition>
        </Control>
        <Control Id="SysprepShutdownText" Type="Text" X="150" Y="160" Width="212" Height="38" Transparent="yes" NoPrefix="yes" Hidden="yes" Text="Shutdown when Sysprep terminates.">
          <Condition Action="show"><![CDATA[NOT (VersionNT < 600 OR Installed)]]></Condition>
        </Control>
        
        <Control Id="SysprepNotAvailableText" Type="Text" X="135" Y="110" Width="212" Height="80" Transparent="yes" NoPrefix="yes" Hidden="yes" 
                 Text="IMPORTANT: You should now run Sysprep if you plan to duplicate this instance, for example by creating a Glance image. Sysprep will generalize it by generating a new SID when a new copy is deployed.">
          <Condition Action="show"><![CDATA[NOT (VersionNT > 600) AND NOT Installed]]></Condition>                   
        </Control>

      </Dialog>

      <InstallUISequence>
        <Show Dialog="MyExitDialog" OnExit="success" Overridable="yes" />
      </InstallUISequence>

      <AdminUISequence>
        <Show Dialog="MyExitDialog" OnExit="success" Overridable="yes" />
      </AdminUISequence>
    </UI>
  </Fragment>
</Wix>