<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="ActionsCommon" SourceFile="Actions\Common.js" />
    <Binary Id="GenericActions" SourceFile="Actions\GenericActions.js" />
    <Binary Id="PythonActions" SourceFile="Actions\PythonActions.js" />
    <Binary Id="ConfFileActions" SourceFile="Actions\ConfFileActions.js" />
    <Binary Id="ConfigDlgActions" SourceFile="Actions\ConfigDlgActions.js" />
    <Binary Id="SysprepActions" SourceFile="Actions\SysprepActions.js" />
    <Binary Id="UtilsActionsDLL" SourceFile="UtilsActions.dll" />

    <CustomAction Id="GenerateRandomPassword"
                  BinaryKey="UtilsActionsDLL"
                  DllEntry="GenerateRandomPasswordAction"
                  Execute="immediate"
                  Return="check" />

    <CustomAction Id="AssignUserRights_Prop" Return="check" Property="AssignUserRights" Value="Cloudbase-Init|[SERVICE_USER_RIGHTS]" />
    <CustomAction Id="AssignUserRights" BinaryKey="UtilsActionsDLL" DllEntry="AssignUserRightsAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="CreateCommonIncludeFile"
                  BinaryKey="ActionsCommon"
                  JScriptCall="createCommonIncludeFileAction" />

    <CustomAction Id="InitConfigDlg"
                  BinaryKey="ConfigDlgActions"
                  JScriptCall="initConfigDlgAction" />

    <CustomAction Id="UpdatePythonShellInScripts_Prop" Return="check" Property="UpdatePythonShellInScripts" Value="[INSTALLDIR]Python27\Scripts\|[INSTALLDIR]Python27\python.exe" />
    <CustomAction Id="UpdatePythonShellInScripts"
              BinaryKey="PythonActions"
              JScriptCall="updatePythonShellInScriptsAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="PyWin32PostInstall_Prop" Property="PyWin32PostInstall"
                  Value='"[INSTALLDIR]Python27\python.exe" "[INSTALLDIR]Python27\Scripts\pywin32_postinstall.py" -install -silent -quiet|0|Cannot find the Microsoft VC90 CRT x86 DLL. Please install the VC++ 2008 SP1 x86 redistributable package before installing this software.'
                  Execute="immediate" />
    <CustomAction Id="PyWin32PostInstall" BinaryKey="GenericActions" JScriptCall="runCommandAction"
                  Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="GenerateCloudbaseInitConfFile_Prop" Return="check" Property="GenerateCloudbaseInitConfFile"
                  Value="[CLOUDBASEINITCONFFOLDER]|[LOGFOLDER]|[USERNAME]|[INJECTMETADATAPASSWORD]|[USERGROUPS]|[NETWORKADAPTERNAME]|[LOGGINGSERIALPORTNAME]|[MAAS_METADATA_URL]|[MAAS_OAUTH_CONSUMER_KEY]|[MAAS_OAUTH_CONSUMER_SECRET]|[MAAS_OAUTH_TOKEN_KEY]|[MAAS_OAUTH_TOKEN_SECRET]" />
    <CustomAction Id="GenerateCloudbaseInitConfFile"
              BinaryKey="ConfFileActions"
              JScriptCall="writeCloudbaseInitConfFileAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="UpdateUnattendXmlAction_Prop" Return="check" Property="UpdateUnattendXmlAction"
                  Value="[INSTALLDIR]|[CLOUDBASEINITCONFFOLDER]|[VersionNT64]" />
    <CustomAction Id="UpdateUnattendXmlAction" BinaryKey="SysprepActions" JScriptCall="updateUnattendXmlAction" Execute="deferred"
                  Return="check" Impersonate="no" />

    <CustomAction Id="RunSysprep" BinaryKey="SysprepActions" JScriptCall="runSysprepAction" Execute="immediate" Impersonate="yes" Return="check" />
  </Fragment>
</Wix>