<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="ActionsCommon" SourceFile="Actions\Common.js" />
    <Binary Id="GenericActions" SourceFile="Actions\GenericActions.js" />
    <Binary Id="PythonActions" SourceFile="Actions\PythonActions.js" />
    <Binary Id="ConfFileActions" SourceFile="Actions\ConfFileActions.js" />
    <Binary Id="ConfigDlgActions" SourceFile="Actions\ConfigDlgActions.js" />
    <Binary Id="SysprepActions" SourceFile="Actions\SysprepActions.js" />
    <Binary Id="UserActions" SourceFile="Actions\UserActions.js" />
    <Binary Id="UtilsActionsDLL" SourceFile="Binaries\$(var.Platform)\UtilsActions.dll" />

    <CustomAction Id="GenerateRandomPassword"
                  BinaryKey="UtilsActionsDLL"
                  DllEntry="GenerateRandomPasswordAction"
                  Execute="immediate"
                  Return="check" />

    <PropertyRef Id="WIX_ACCOUNT_ADMINISTRATORS" />
    <CustomAction Id="GetAdministratorsGroup"
                  BinaryKey="GenericActions"
                  JScriptCall="getAdministratorsGroupAction"
                  Execute="immediate"
                  Return="check" />

    <CustomAction Id="AssignUserRights_Prop" Return="check" Property="AssignUserRights" Value="Cloudbase-Init|[SERVICE_USER_RIGHTS]" />
    <CustomAction Id="AssignUserRights" BinaryKey="UtilsActionsDLL" DllEntry="AssignUserRightsAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="CreateCommonIncludeFile"
                  BinaryKey="ActionsCommon"
                  JScriptCall="createCommonIncludeFileAction" />

    <CustomAction Id="DeleteCommonIncludeFile"
              BinaryKey="ActionsCommon"
              JScriptCall="deleteCommonIncludeFileAction"
              Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="InitConfigDlg"
                  BinaryKey="ConfigDlgActions"
                  JScriptCall="initConfigDlgAction" />

    <CustomAction Id="UpdatePythonShellInScripts_Prop" Return="check" Property="UpdatePythonShellInScripts" Value="[INSTALLDIR]Python\Scripts\|[INSTALLDIR]Python\python.exe" />
    <CustomAction Id="UpdatePythonShellInScripts"
              BinaryKey="PythonActions"
              JScriptCall="updatePythonShellInScriptsAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="GenerateCloudbaseInitConfFile_Prop" Return="check" Property="GenerateCloudbaseInitConfFile"
                  Value="[CLOUDBASEINITCONFFOLDER]|[BINFOLDER]|[LOGFOLDER]|[USERNAME]|[INJECTMETADATAPASSWORD]|[USERGROUPS]|[LOGGINGSERIALPORTNAME]|[MAAS_METADATA_URL]|[MAAS_OAUTH_CONSUMER_KEY]|[MAAS_OAUTH_CONSUMER_SECRET]|[MAAS_OAUTH_TOKEN_KEY]|[MAAS_OAUTH_TOKEN_SECRET]|[LOCALSCRIPTSFOLDER]" />
    <CustomAction Id="GenerateCloudbaseInitConfFile"
              BinaryKey="ConfFileActions"
              JScriptCall="writeCloudbaseInitConfFileAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="UpdateUnattendXmlAction_Prop" Return="check" Property="UpdateUnattendXmlAction"
                  Value="[INSTALLDIR]|[CLOUDBASEINITCONFFOLDER]|[VersionNT64]" />
    <CustomAction Id="UpdateUnattendXmlAction" BinaryKey="SysprepActions" JScriptCall="updateUnattendXmlAction" Execute="deferred"
                  Return="check" Impersonate="no" />

    <CustomAction Id="AddUserToWinlogonSpecialAccounts_Prop" Return="check" Property="AddUserToWinlogonSpecialAccounts" Value="cloudbase-init" />
    <CustomAction Id="AddUserToWinlogonSpecialAccounts"
              BinaryKey="UserActions"
              JScriptCall="addUserToWinlogonSpecialAccountsAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="RunSysprep" BinaryKey="SysprepActions" JScriptCall="runSysprepAction" Execute="immediate" Impersonate="yes" Return="check" />

    <CustomAction Id="SetServiceUserCloudbaseInit" Property="CloudbaseInitServiceUser" Value=".\cloudbase-init" Execute="immediate" />
    <CustomAction Id="SetServiceUserLocalSystem" Property="CloudbaseInitServiceUser" Value="LocalSystem" Execute="immediate" />
  </Fragment>
</Wix>