<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="{ED85F19F-057A-4EE6-BC8D-F576DEACE78D}" Name="Cloudbase-Init $(var.VersionStr)" Language="1033" Version="$(var.Version)" Manufacturer="Cloudbase Solutions Srl" UpgradeCode="BA8F3CDD-9340-4852-8515-CF0BD5CA20E3">
    <?include $(sys.CURRENTDIR)\Config.wxi?>
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="$(var.Platform)"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="mszip" />

    <?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif ?>

    <Feature Id="CloudbaseInit" Title="Windows Cloud Init" Level="1" Absent="disallow" InstallDefault="local" TypicalDefault="install" AllowAdvertise="no"
             Description="Installs and configures the cloudbase-init service."
             ConfigurableDirectory="INSTALLDIR" Display="expand">
      <ComponentGroupRef Id="PythonComponentGroup" />
      <ComponentGroupRef Id="CloudbaseInitFolders" />
      <ComponentRef Id="CloudbaseInitServiceUser" />
      <ComponentRef Id="CloudbaseInitService" />
      <ComponentRef Id="ElevateUtils" />
      <ComponentRef Id="bsdtar" />
      <ComponentRef Id="mtools" />
      <ComponentRef Id="SetSetupComplete" />

      <Feature Id="VC140Redist" Title="Visual C++ 14.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VC140Redist" />
      </Feature>

      <Feature Id="Carbon" Title="Carbon PowerShell Module" AllowAdvertise="no" Level="1" InstallDefault="followParent" Absent="allow"
               Description="Carbon is an open source PowerShell module with lots of features for deployment automation. More info: http://get-carbon.org/">
        <ComponentGroupRef Id="CarbonComponentGroup" />
      </Feature>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Property Id="MAAS_METADATA_URL" />
    <Property Id="MAAS_OAUTH_CONSUMER_KEY" />
    <Property Id="MAAS_OAUTH_CONSUMER_SECRET" />
    <Property Id="MAAS_OAUTH_TOKEN_KEY" />
    <Property Id="MAAS_OAUTH_TOKEN_SECRET" />

    <!--
    Comma separated list of user rights. "SeServiceLogonRight" is already assigned.
    See: http://technet.microsoft.com/en-us/library/bb457125.aspx
    -->
    <Property Id="SERVICE_USER_RIGHTS" Value="SeAssignPrimaryTokenPrivilege" />
    <Property Id="RUN_SERVICE_AS_LOCAL_SYSTEM" />

    <UIRef Id="MyWixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUIBannerBmp" Value="images\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="images\dlgbmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <SetProperty Action="SetUserGroupsAction" Id="USERGROUPS" Value="[ACCOUNT_ADMINISTRATORS_NAME]"
                 After="GetAdministratorsGroup" Sequence="both">
      NOT USERGROUPS
    </SetProperty>

    <InstallExecuteSequence>
      <Custom Action="CreateCommonIncludeFile" After="CostFinalize" />

      <Custom Action="GetAdministratorsGroup" After="CostFinalize" />
      <Custom Action="GenerateRandomPassword" After="CostFinalize" />
      <Custom Action="SetServiceUserCloudbaseInit" After="CostFinalize">NOT RUN_SERVICE_AS_LOCAL_SYSTEM</Custom>
      <Custom Action="SetServiceUserLocalSystem" After="CostFinalize">RUN_SERVICE_AS_LOCAL_SYSTEM</Custom>

      <Custom Action="UpdatePythonShellInScripts_Prop" After="CostFinalize" />
      <Custom Action="UpdatePythonShellInScripts" Before="DeleteCommonIncludeFile">NOT Installed</Custom>

      <Custom Action="GenerateCloudbaseInitConfFile_Prop" After="SetUserGroupsAction" />
      <Custom Action="GenerateCloudbaseInitConfFile" Before="DeleteCommonIncludeFile"><![CDATA[REMOVE <> "ALL"]]></Custom>

      <Custom Action="UpdateUnattendXmlAction_Prop" After="CostFinalize" />
      <Custom Action="UpdateUnattendXmlAction" Before="DeleteCommonIncludeFile"><![CDATA[REMOVE <> "ALL"]]></Custom>

      <Custom Action="AssignUserRights_Prop" After="CostFinalize" />
      <Custom Action="AssignUserRights" Before="InstallFinalize"><![CDATA[REMOVE <> "ALL" AND NOT RUN_SERVICE_AS_LOCAL_SYSTEM]]></Custom>

      <Custom Action="AddUserToWinlogonSpecialAccounts_Prop" After="CostFinalize" />
      <Custom Action="AddUserToWinlogonSpecialAccounts" Before="DeleteCommonIncludeFile"><![CDATA[REMOVE <> "ALL"]]></Custom>

      <Custom Action="DeleteCommonIncludeFile" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <!-- Create the JS common include files for UI actions, note that this is not executed in unattended mode -->
      <Custom Action="CreateCommonIncludeFile" Before="CostFinalize"></Custom>
      <Custom Action="GetAdministratorsGroup" After="CostFinalize" />
    </InstallUISequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="CompanyFolder" Name="Cloudbase Solutions">
          <Directory Id="INSTALLDIR" Name="Cloudbase-Init" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="BINFOLDER" Name="bin" />
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="LOGFOLDER" Name="log" />
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="LOCALSCRIPTSFOLDER" Name="LocalScripts" />
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="CLOUDBASEINITCONFFOLDER" Name="conf" />
    </DirectoryRef>

    <DirectoryRef Id="CLOUDBASEINITCONFFOLDER">
      <Component Id="CloudbaseInitConfFolder" Guid="{7A719841-4A02-4DA6-8114-C784251CBA9D}" Win64="$(var.Win64)">
        <File Id="Unattend.xml" Source="Unattend.xml" Checksum="yes" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LOGFOLDER">
      <Component Id="CloudbaseInitLogFolder" Guid="{3D4E7A44-01FE-4DE9-83B5-689B7E8C671B}" Win64="$(var.Win64)">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LOCALSCRIPTSFOLDER">
      <Component Id="CloudbaseInitLocalScriptsFolder" Guid="{0A86796A-BD49-455A-83C7-B91FD4B150D3}" Win64="$(var.Win64)">
        <CreateFolder />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="CloudbaseInitFolders">
      <ComponentRef Id="CloudbaseInitConfFolder" />
      <ComponentRef Id="CloudbaseInitLogFolder" />
      <ComponentRef Id="CloudbaseInitLocalScriptsFolder" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="$(var.PlatformSystemFolder)">
        <Directory Id="WindowsPowerShell" Name="WindowsPowerShell">
          <Directory Id="v1.0" Name="v1.0">
            <Directory Id="PowershellModules" Name="Modules" />
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <?if $(var.Platform) = x64 ?>
        <!-- TODO: use a variable to select the correct CRT version -->
        <Merge Id="VC140Redist" SourceFile="Microsoft_VC140_CRT_x64.msm" DiskId="1" Language="0" />
      <?else ?>
        <Merge Id="VC140Redist" SourceFile="Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0" />
      <?endif ?>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <Component Id="ElevateUtils" Directory="BINFOLDER" Guid="{90A6F90D-34DF-4226-B368-0C2AA4F08BB8}" Win64="$(var.Win64)">
      <File Id="Elevate.exe" Source="Binaries\$(var.Platform)\Elevate.exe" KeyPath="yes" Checksum="yes" />
    </Component>

    <Component Id="bsdtar" Directory="BINFOLDER" Guid="{1DBADEF2-ED7B-4F98-845C-4E049D7E26F0}" Win64="$(var.Win64)">
      <File Id="bsdtar.exe" Source="Binaries\$(var.Platform)\bsdtar.exe" KeyPath="yes" Checksum="yes" />
      <File Id="bsdtar.COPYING" Source="Binaries\$(var.Platform)\bsdtar.COPYING" Checksum="yes" />
    </Component>

    <Component Id="mtools" Directory="BINFOLDER" Guid="{8C5507A2-2C7D-49C0-A39B-AC74D0479C58}" Win64="$(var.Win64)">
      <File Id="mdir.exe" Source="Binaries\$(var.Platform)\mdir.exe" KeyPath="yes" Checksum="yes" />
      <File Id="mlabel.exe" Source="Binaries\$(var.Platform)\mlabel.exe" Checksum="yes" />
      <File Id="mcopy.exe" Source="Binaries\$(var.Platform)\mcopy.exe" Checksum="yes" />
      <File Id="mtools.COPYING" Source="Binaries\$(var.Platform)\mtools.COPYING" Checksum="yes" />
    </Component>

    <Component Id="SetSetupComplete" Directory="BINFOLDER" Guid="{4507F735-3BD0-403B-96C9-6959B6B617C1}" Win64="$(var.Win64)">
      <File Id="SetSetupComplete.cmd" Source="SetSetupComplete.cmd" Checksum="yes" KeyPath="yes" />
    </Component>
  </Fragment>

  <Fragment>
    <util:Group Id="AdministratorsGroup" Name="[ACCOUNT_ADMINISTRATORS_NAME]" />
    <Property Id="GENERATED_PASSWORD" Hidden="yes" />

    <Component Id="CloudbaseInitServiceUser" Directory="BINFOLDER" Guid="{EC63E5DF-931D-45F7-9762-6E3B2693F031}" Win64="$(var.Win64)">
      <Condition>NOT RUN_SERVICE_AS_LOCAL_SYSTEM</Condition>
      <CreateFolder />
      <util:User Id="cloudbaseinituser" LogonAsService="yes" CreateUser="yes" CanNotChangePassword="yes" Disabled="no" Name="cloudbase-init"
                 Password="[GENERATED_PASSWORD]" PasswordExpired="no" PasswordNeverExpires="yes" RemoveOnUninstall="yes" UpdateIfExists="yes">
        <util:GroupRef Id="AdministratorsGroup"/>
      </util:User>
    </Component>

    <Component Id="CloudbaseInitService" Directory="BINFOLDER" Guid="{234DDD41-5BA4-4777-A0B0-8462D47777E3}" Win64="$(var.Win64)">
      <File Id="OpenStackService.exe" Source="Binaries\$(var.Platform)\OpenStackService.exe" KeyPath="yes" Checksum="yes" />
      <ServiceInstall
               Arguments='cloudbase-init "[INSTALLDIR]Python\Scripts\cloudbase-init.exe" --config-file "[CLOUDBASEINITCONFFOLDER]cloudbase-init.conf"'
               Id="CloudbaseInitServiceInstaller"
               Type="ownProcess"
               Vital="yes"
               Name="cloudbase-init"
               DisplayName="Cloudbase-Init"
               Description="Cloud Initialization Service"
               Start="auto"
               Account="[CloudbaseInitServiceUser]"
               Password="[GENERATED_PASSWORD]"
               ErrorControl="ignore"
               Interactive="no">
        <ServiceDependency Id="winmgmt" />
        <ServiceDependency Id="nsi" />
        <ServiceDependency Id="profsvc" />
        <!--
        <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" />
        -->
      </ServiceInstall>
      <!-- Start service at the end of the setup, not here -->
      <ServiceControl
        Id="CloudbaseInitStartService"
        Stop="both"
        Remove="uninstall"
        Name="cloudbase-init"
        Wait="yes" />
    </Component>
  </Fragment>
</Wix>
